     </script>
        <script src="js/jquery.js"></script>
        <script src="js/jquery.event.frame.js"></script>
        <script src="js/jquery.parallax.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/enscroll-0.5.1.min.js"></script>
        <script src="js/jquery.lightbox-0.5.pack.js"></script>

        <link rel="stylesheet" type="text/css" href="css/studio.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.lightbox-0.5.css" media="screen" />
    </head>

    <body>