<h1>Print</h1>
<h2><a href="">Leviatan Web</a> >> <a href="">Servicii</a> >> Print</h2>
<hr>
<p class="content_paragraphs" align="justify"><a name="revenire_sus"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ce inseamna pentru noi print? Machete de presa, afise, pliante, brosuri, flyere si vouchere, create in jurul unor idei dinamice, atragatoare. Imbinarea culorilor, paginatia, asezarea fiecarui element la locul potrivit, toate contribuie la fabricarea unei reclame eficiente in print.</p>
<p class="content_paragraphs" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Noi iti oferim concepte inovatoare, executii curate si texte eficiente !</p>