<h1>Dezvoltare web</h1>
<h2><a href="#home">Leviatan Web</a> >> <a href="#servicii-dezvoltare-web">Servicii</a> >> <a href="#servicii-dezvoltare-web">Dezvoltare web</a></h2>
<hr>
<p>Oferta noastra de servicii de dezvoltare web include patru pachete:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/#web_standard">WEB STANDARD</a></strong> - pachet destinat companiilor care doresc doar un site static, de prezentare. El include si serviciul de optimizare SEO on-page.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/#web_mediu">WEB MEDIU</a></strong> - pachet destinat companiilor care doresc mai mult decat un site de prezentare. Puteti prezenta clientilor mai multe informatii, pagini secundare, mai multe imagini, sau puteti avea o galerie foto sau video pentru descrierea produselor dumneavoastra. Pentru acest pachet bannerele sau meniurile pot fi animate.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/#web_business">WEB BUSINESS</a></strong> - include toate serviciile din cadrul pachetului WEB MEDIU, dar pe langa acestea, mai sunt oferite: formular de inscriere pentru newsletter, motor de cautare intern, modul de administrare (CMS). Modulul de administrare va ofera posibilitatea de a modifica oricand continutul site-ului, fara a fi nevoie de ajutorul unui programator web.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/#web_portal">WEB PORTAL</a></strong> - se adreseaza companiilor care doresc, pe langa serviciile incluse in pachetul WEB BUSINESS, prezentarea si vanzarea online a produselor lor.</p>
<p class="content_paragraphs" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pentru a vedea etapele de dezvoltare pentru proiectul dumneavoastra, va rugam sa mergeti la pagina <strong><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/modalitate_lucru/leviatan/">Dezvoltare web - modalitate de lucru</a></strong></p>
<p align="center">&nbsp;</p>


<p align="center"><h3><strong><a name="web_standard">Oferta servicii WEB-STANDARD</a></strong></h3></p>
<p class="content_paragraphs" align="left">1.	Asistenta inregistrare domeniu si gazduire web<br>
    2.	Consultanta design si structura site<br>3.	Pagina web principala personalizata<br>
    4.	Pagini web secundare: pana la 10<br>
    5.	Harta site<br>
    6.	Imagini optimizate: pana la 20<br>7.	Meniu de navigare static<br>8.	Banner static<br>9.	Formular dinamic pentru contact<br>10.	Script de contorizare vizitatori, monitorizare trafic<br>11.	Optimizare SEO on-page</p>
<p class="content_paragraphs" align="right"><strong>Durata de dezvoltare</strong>: 5 - 10 zile</p>
<p class="content_paragraphs" style="border-bottom:dotted 1px #333333;" align="left"><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/#revenire_sus">&uarr;&nbsp;sus</a></p>

<p align="center"><h3><strong><a name="web_mediu">Oferta servicii WEB-MEDIU</a></strong></h3></p>
<p class="content_paragraphs" align="left">1.	Asistenta inregistrare domeniu si gazduire web<br>
    2.	Consultanta design si structura site<br>3.	Pagina web principala personalizata<br>
    4.	Pagini web secundare: pana la 15<br>5.	Harta site<br>
    6.	Imagini optimizate: pana la 30<br>7.	Meniu de navigare animat<br>8.	Banner animat<br>9.	Formular dinamic pentru contact<br>10.	Script de contorizare vizitatori, monitorizare trafic<br>11.	Optimizare SEO on-page<br>
    12.	Galerie foto: pana la 30<br>
    13.	Galerie video: pana la 10</p>
<p class="content_paragraphs" align="right"><strong>Durata de dezvoltare</strong>: 10 - 15 zile</p>
<p class="content_paragraphs" style="border-bottom:dotted 1px #333333;" align="left"><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/#revenire_sus">&uarr;&nbsp;sus</a></p>

<p align="center"><h3><strong><a name="web_business">Oferta servicii WEB-BUSINESS</a></strong></h3></p>
<p class="content_paragraphs" align="left">1.	Asistenta inregistrare domeniu si gazduire web<br>
    2.	Consultanta design si structura site<br>3.	Pagina web principala personalizata<br>
    4.	Pagini web secundare: pana la 20<br>5.	Harta site<br>
    6.	Imagini optimizate: pana la 40<br>7.	Meniu de navigare animat<br>8.	Banner animat<br>9.	Formular dinamic pentru contact<br>10.	Script de contorizare vizitatori, monitorizare trafic<br>11.	Optimizare SEO on-page<br>
    12.	Galerie foto: pana la 40<br>
    13.	Galerie video: pana la 15<br>14.	Formular dinamic de abonare newsletter<br>15.	Baze de date<br>16.	Modul de administrare (CMS)<br>17.	Motor de cautare intern</p>
<p class="content_paragraphs" align="right"><strong>Durata de dezvoltare</strong>: 15 - 25 zile</p>
<p class="content_paragraphs" style="border-bottom:dotted 1px #333333;" align="left"><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/#revenire_sus">&uarr;&nbsp;sus</a></p>

<p align="center"><h3><strong><a name="web_portal">Oferta servicii WEB-PORTAL</a></strong></h3></p>
<p class="content_paragraphs" align="left">1.	Asistenta inregistrare domeniu si gazduire web<br>
    2.	Consultanta design si structura site<br>3.	Pagina web principala personalizata<br>
    4.	Pagini web secundare: pana la 25<br>5.	Harta site<br>
    6.	Imagini optimizate: pana la 50<br>7.	Meniu de navigare animat<br>8.	Banner animat<br>9.	Formular dinamic pentru contact<br>10.	Script de contorizare vizitatori, monitorizare trafic<br>11.	Optimizare SEO on-page<br>
    12.	Galerie foto: pana la 50<br>
    13.	Galerie video: pana la 20<br>14.	Formular dinamic de abonare newsletter<br>15.	Baze de date<br>16.	Modul de administrare (CMS<br>17.	Motor de cautare intern<br>
    18.	Modul de inscriere clienti<br>19.	Modul de autentificare clienti<br>20.	Cos cumparaturi<br>
    21.	Categorii si subcategorii de produse introduse initial: pana la 20<br>
    22.	Produse introduse initial: pana la la 50</p>
<p class="content_paragraphs" align="right"><strong>Durata de dezvoltare</strong>: peste 25 zile</p>
<p class="content_paragraphs" style="border-bottom:dotted 1px #333333;" align="left"><a href="http://web.leviatan.ro/servicii/content/dezvoltare_web/#revenire_sus">&uarr;&nbsp;sus</a></p>

<h3><strong>NOTA:</strong></h3>
</p>
<p class="content_paragraphs" align="justify">&bull;&nbsp;estimarea pretului si a duratei de dezvoltare se face in functie de complexitatea site-ului (numarul de imagini optimizate, numarul de categorii / subcategorii si produse introduse initial, numarul de pagini secundare, servicii etc.);
    &bull;&nbsp;costul final al site-ului va fi stabilit in urma discutiilor cu dumneavoastra;<br>
    &bull;&nbsp;pachetele noastre, prezentate mai sus, respectiv serviciile incluse in acestea, pot fi modificate in functie de cerintele dumneavoastra;<br>
    &bull;&nbsp;durata de dezvoltare a site-ului va fi calculata din momentul primirii materialelor de la dumneavoastra (text, imagini, video etc.).</p>